.wrapper {
    width: 76vw;
    height: 13vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 1vw;
    margin-top: 1vh;
}
.wrapper img {
    width: 6vw;
    height: 10vh;
    border-radius: 30px;
}
.post {
    padding-top: 7vh;
    text-align: center;
    color: black;
    width: 67vw;
    height: 12vh;
    margin-left: 1vw;
    font-size: 1.3vmax;
    overflow: auto;
}
.likes {
    color: black;
}
.countLikes {
    color: green;
}

