.item {
  display: flex;
  justify-content: start;
  gap: 15px;
}

.content {
  background: rgb(203, 198, 198);
}
.head_img img {
  width: 77vw;
  height: 20vh;
}
.avatar {
  width: 30%;
  text-align: center;
}
.status {
}
.avatar img {
  width: 15vw;
  height: 15vh;
}
.avatar p {
  margin-left: 1vw;
  margin-right: 1vw;
  font-size: 1.6vmax;
}

.label {
  display: inline-block;
  width: 80px;
}
